{% from "macros.html" import render_field_bootstrap %}

{% extends "layout.html" %}
{% block body %}

<h2>Edit {{ theobject.name }}</h2>
<form role="form" action="{{ url_for('edit_object', object_id = theobject.id) }}" method=post class=edit-object>
  {{ edit_object_form.hidden_tag() }}
  
  <dl>
    <dt>{{ edit_object_form.name.label }}
    <dd>{{ edit_object_form.name(size=80) }}{% for error in edit_object_form.name.errors %}<span style="color: red;">[{{ error }}]</span> {% endfor %}
    <dt>{{ edit_object_form.text.label }} Use Creole Wiki Markup
    <dd>{{ edit_object_form.text(rows=30, cols=40) }}{% for error in edit_object_form.text.errors %}<span style="color: red;">[{{ error }}]</span> {% endfor %}
    <dd><input type=submit value="Finish Editing">
  </dl>
</form>
{% endblock %}
