{% from "macros.html" import link_to %}

<!doctype html>
<title>Astronomr</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<div class=page>
  {{ link_to('<h1>Astronomr</h1>', 'show_observations') }}
  <div class=metanav>
    {% if not session.logged_in %}
    {{ link_to('log in', 'login') }}
    {% else %}
    {{ link_to('log out', 'logout') }}
    {% endif %}
  </div>
  {% for message in get_flashed_messages() %}
  <div class=flash>{{ message }}</div>
  {% endfor %}
  {% block body %}{% endblock %}
</div>

