{% macro link_to(text, endpoint) -%}
<a href="{{ url_for(endpoint, **kwargs) }}">{{ text|safe }}</a>
{%- endmacro %}



  {% macro render_field(field) %}
        <div class="form_field">
        {{ field.label(class="label") }}
        {% if field.errors %}
            {% set css_class = 'has_error ' + kwargs.pop('class', '') %}
            {{ field(class=css_class, **kwargs) }}
            <ul class="errors">{% for error in field.errors %}<li>{{ error|e }}</li>{% endfor %}</ul>
        {% else %}
            {{ field(**kwargs) }}
        {% endif %}
	    {{ field.description }}
        </div>
    {% endmacro %}



{% macro render_observations(observations) %}
<ul class=observations>
  {% for observation in observations %}
  <li><h2>{{ observation.title }}</h2>
    Date: {{ observation.timestamp }}<br>
    Objects:
    {% for object in observation.objects %}
    {{ link_to(object.name, 'show_object', object_id = object.id) }}
    {% endfor %}<br>
    {{ observation.description }}
  {% else %}
    <li><em>No observations yet. Would you like to add one?</em>
  {% endfor %}
</ul>
{% endmacro %}




