{% extends "layout.html" %}
{% block body %}
{% from "macros.html" import render_field, render_observations %}

{% if session.logged_in %}
<form action="{{ url_for('add_observation') }}" method=post class=add-observation>
  <ul>
  {{ new_obs_form.hidden_tag() }}
  <li>{{ render_field(new_obs_form.title, class="input text") }}</li>
  <li>{{ render_field(new_obs_form.timestamp, class="input text") }}</li>
  <li>{{ render_field(new_obs_form.objects, class="input text") }}  </li>
  <li>{{ render_field(new_obs_form.description, class="input textarea") }} </li>
  <input type=submit value="Add Observation">
  </ul>
</form>
{% endif %}

{{ render_observations(observations) }}

{% endblock %}
