{% extends "layout.html" %}
{% block body %}
{% if session.logged_in %}
<form action="{{ url_for('add_observation') }}" method=post class=add-observation>
  {{ new_obs_form.hidden_tag() }}
  
  <dl>
    <dt>{{ new_obs_form.title.label }}
    <dd>{{ new_obs_form.title(size=80) }} {% for error in new_obs_form.title.errors %}<span style="color: red;">[{{ error }}]</span> {% endfor %}
    <dt>{{ new_obs_form.timestamp.label }} [YYYY-MM-DD HH:MM:SS]
    <dd>{{ new_obs_form.timestamp }} {% for error in new_obs_form.timestamp.errors %}<span style="color: red;">[{{ error }}]</span> {% endfor %}
    <dt>{{ new_obs_form.objects.label }} [Comma separated list]
    <dd>{{ new_obs_form.objects(size=80) }} {% for error in new_obs_form.objects.errors %}<span style="color: red;">[{{ error }}]</span> {% endfor %}
    <dt>{{ new_obs_form.description.label }}
    <dd>{{ new_obs_form.description(rows=5, cols=40) }} {% for error in new_obs_form.description.errors %}<span style="color: red;">[{{ error }}]</span> {% endfor %}
    <dd><input type=submit value="Add Observation">
  </dl>
</form>
{% endif %}
<ul class=observations>
  {% for observation in observations %}
  <li><h2>{{ observation.title }}</h2>
    Date: {{ observation.timestamp }}<br>
    Objects:
    {% for object in observation.objects %}
    <a href="{{ url_for('show_object', object_id = object.id) }}">{{ object.name }}</a>
    {% endfor %}<br>
    {{ observation.description }}
  {% else %}
    <li><em>No observations yet. Would you like to add one?</em>
  {% endfor %}
</ul>
{% endblock %}
